
 @font-face {
  src: url("assets/fonts/font.ttf");
  font-family: 'primary';
}
.primary{
  font-family: 'primary';
   font-size:1.5rem;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#panel{
  will-change: transform;
}
body {

  width: 100%;
  height: 100%;
  line-height: 1;
  --color-text: #fbd54a;
  --color-bg: #333;
  --color-link: #4d4f5f;
  --color-link-hover: #bfb5b5;
  --color-info: #fff;
  --color-main-bg: #24262d;
  --path-fill-1: #000000;
  --path-fill-2: #1d1d1f;
  --path-fill-3: #fbd54a;
  --color-title: #fff;
  --font-family-title: 'Arapey', serif;
  --font-size-title: 5vmax;
  --font-weight-title: 400;
  --color-menu: #000000;
  --color-menu-hover: #fff;
  --font-family-menu: 'Arapey', serif;
  --font-size-menu: 4vmax;
  --font-weight-menu: 400;
  --button-bg: #fff;
  --button-circle: #ada4a4;
  --button-line: #222;
  /*will-change: transform;
  overflow-x: hidden;
  */:;
  -webkit-backface-visibility:hidden;
}
.bgcheck{
}
  .svg-hero{
width: 100%;
position: fixed;
  }
  .extend{
      width: 100%;
  }
  .relative{
      position: relative;
  }
  .abs{
      position: absolute;
      top:0;
      left: 0;
  }
  button{
      padding:16px;
      background: white;
      outline: none;
      border:0px solid white;
  }


  .pad{
      padding:1rem;
  }

  .clock_tower
  {
    width: 25%;
    position: fixed;
    top: 9vh;
    left: 4vw;
  }

  .layerct
  {
    width: 100%;
  }

 .road1{
    width:100%;
   }

   .road2
   {
      width:100%;
   }
   .gate
   {
      position:fixed;
      width:15%;  
      left: 58vw;
      top: 25vw;   
   }
   .fixed
   {
     position: fixed;
   }
   .toplayer
   {
     width: 25%;
   }

   .sebuilding
   {
    position: absolute;
    width: 59%;
    left: 36vw;
    top:7%;
   }

   .evebuilding
   {
    position: absolute;
    width: 38%;
    left: 6vw;
    top:9%;
   }

   .flmbuilding
   {
     position: absolute;
     width:38%;
     top:16%;
   }

   .potobuilding
   {
    position: absolute; 
    width:38%;
     left: 40vw;
     top:20%;
   }

   .desbuilding
   {
     position: absolute;
     width:38%;
     top:22.5%;

   }
   
   .fabuilding
   {
     position: absolute;
     width: 38%;
     left:25vw;
     top:28%;
   }

   .dcbuilding
   {
      position:absolute;
      width: 38%;
      left: 60vw;
      top:36%;
   }

   .lopbuilding
   {
     position:absolute;
     width:38%;
     left:10vw;
     top:38%
   }

   .sabuilding
   {
     position: absolute;
     width: 27%;
     left: 64vw;
     top:45.5%;
   }


   .elcbuilding
   {
     position:absolute;
     width:29%;
     left:5vw;
     top:46.4%;
   }

   .mbuilding{
    position: absolute;
    width: 24.1%;
    left: 10vw;
    top:52%;
  }
  .qbuilding
  {
    position: absolute;
    width: 25%;
    left: 55vw;
    top:52%;
  }
  .building
  {
    position:absolute;
    width:100%;
    top:54%;
  }
  .hbuilding
  {
    position:absolute;
    width:25%;
    left:10vw;
    top:60%;
  }
  .bus{
    position: absolute;
    width:30%;
    left:15vw;
    top:65%;
  }
  .sponsors
  {
    position: absolute;
    width:27.5%;
    left:55vw;
    top:60%;
  }
  .position{
    position: absolute !important;
    top:69%;
    left:20vw;
  }

  @media(min-width:768px)
  {
   .clock_tower{
     top: 25vh;
   }
   .sebuilding
   {
    position: absolute;
    width: 40%;
    left: 38vw;
    top:9%;
   }

   .evebuilding
   {
    position: absolute;
    width: 35%;
    left: 6vw;
   }

   .flmbuilding
   {
     position: absolute;
     width:35%;
   }

   .potobuilding
   {
    position: absolute; 
    width:33%;
    left: 44vw;
    top:20.5%;
   }

   .desbuilding
   {
     position: absolute;
     width:32%;

   }
   
   .fabuilding
   {
     position: absolute;
     width: 35%;
     left:30vw;
   }

   .dcbuilding
   {
      position:absolute;
      width: 35%;
      left: 64vw;
   }

   .lopbuilding
   {
     position:absolute;
     width:35%;
     left:15vw;
     top:38%;
   }

   .elcbuilding
   {
     position:absolute;
     width:29%;
     left:5vw;
   }

   .sabuilding
   {
     position: absolute;
     width: 27%;
     left: 64vw;
   }

   .mbuilding{
     position: absolute;
     width: 24.1%;
     left: 10vw;
   }
   .qbuilding
   {
     position: absolute;
     width: 25%;
     left: 55vw;
   }
   .building
   {
     position:absolute;
     width:100%;
   }
   .hbuilding
   {
     position:absolute;
     width:25%;
     left:10vw;
   }
   .bus{
     position: absolute;
     width:30%;
     left:15vw;
   }
   .sponsors
   {
     position: absolute;
     width:27.5%;
     left:55vw;
   }
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    top:50%;
    left:50%;
    transform:  translate(-50%,-50%) ;
    -webkit-transform:  translate(-50%,-50%) ;
    -moz-transform:  translate(-50%,-50%) ;
    -ms-transform:  translate(-50%,-50%) ;
    -o-transform:  translate(-50%,-50%) ;
}

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;

  }

  .btn {

    padding: 20px;
 
    background: white;
  }

  .card {
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 22px;
    width: 100%;
    height: 80%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

  .card-body {
    background: linear-gradient(135deg, #0FF0B3 0%, #036ED9 100%);

    padding: 85% 0 0 0;
  }
  .modal-content{
    height: 100%;
    padding:24px;

  }
  .center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

  