@font-face {
  font-family: "League Spartan";
  src:
    url("fonts/leaguespartan-bold.woff") format("woff"),
    url("fonts/LeagueSpartan-Bold.otf") format("opentype"),
    url("fonts/leaguespartan-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fipps";
  src:
    url("fonts/Fipps-Regular.otf") format("opentype");

}
.white{
  color:white;
}
@font-face {
src: url('./fonts/proxima.ttf');
font-family: 'proxima';
}
@font-face {
  src: url("assets/fonts/font.ttf");
  font-family: 'primary';
}

.primary1{
  font-family: 'League Spartan';
  font-size: 1rem !important;
}
.primary3{
  font-family: 'League Spartan';
  font-size: 2rem !important;
}
.primary {
  font-family: 'League Spartan';
  font-size: 3rem;
}

.fon {
  font-family: Fipps;
  font-size: 2vh;
}
.padding{
  padding:20px;
}
.bottom{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
}
.flex{
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:2px solid blue; */
}

html {
  width: 100%;
  height: 100%;
}

.cus{
  position: absolute;
    top: 85%;
    left: 19vw;
    width: 65%;
}

#contact-container{
  font-size: 1rem;
}

#panel {
  will-change: transform;
}

.sponchar {
  position: absolute;
  width: 27.5%;
  left: 55vw;
}

body {

  width: 100%;
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  --color-text: #fbd54a;
  --color-bg: #333;
  --color-link: #4d4f5f;
  --color-link-hover: #bfb5b5;
  --color-info: #fff;
  --color-main-bg: #24262d;
  --path-fill-1: #000000;
  --path-fill-2: #1d1d1f;
  --path-fill-3: #fbd54a;
  --color-title: #fff;
  --font-family-title: 'Arapey', serif;
  --font-size-title: 5vmax;
  --font-weight-title: 400;
  --color-menu: #000000;
  --color-menu-hover: #fff;
  --font-family-menu: 'Arapey', serif;
  --font-size-menu: 4vmax;
  --font-weight-menu: 400;
  --button-bg: #fff;
  --button-circle: #ada4a4;
  --button-line: #222;
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
}

.bgcheck {}

.svg-hero {
  width: 100%;
  position: fixed;
}

.extend {
  width: 100%;
}

.relative {
  position: relative;
}

.abs {
  position: absolute;
  top: 0;
  left: 0;
}

button {
  padding: 16px;
  background: white;
  outline: none;
  border: 0px solid white;
}

#stareventstxt {
  position: absolute;
  top: 9.9%;
  left: 52vw;
  width: 25%;
}

#filmtxt {
  position: absolute;
  top: 19.6%;
  left: 11vw;
  width: 10%;
}

/* .thala{
    position: absolute;
    top: 38.1%;
    width: 44%;
    left: -6vw;
  } */
.pad {
  padding: 1rem;
}

.clock_tower {
  width: 25%;
  position: fixed;
  top: 9vh;
  left: 4vw;
}

.layerct {
  width: 100%;
}

.road1 {
  width: 100%;
}

.road2 {
  width: 100%;
}

.gate {
  position: fixed;
  width: 15%;
  left: 58vw;
  top: 25vw;
}

.fixed {
  position: fixed;
}

.toplayer {
  width: 25%;
}

.sebuilding {
  position: absolute;
  width: 59%;
  left: 36vw;
  top: 7%;
}

.evebuilding {
  position: absolute;
  width: 38%;
  left: 6vw;
  top: 9%;
}

.flmbuilding {
  position: absolute;
  width: 38%;
  top: 16%;
}

.potobuilding {
  position: absolute;
  width: 38%;
  left: 40vw;
  top: 19%;
}

.desbuilding {
  position: absolute;
  width: 38%;
  top: 22.5%;

}

.fabuilding {
  position: absolute;
  width: 38%;
  left: 29vw;
  top: 27%;
}

.dcbuilding {
  position: absolute;
  width: 38%;
  left: 60vw;
  top: 36%;
}

.lopbuilding {
  position: absolute;
  width: 38%;
  left: 10vw;
  top: 38%
}

.sabuilding {
  position: absolute;
  width: 27%;
  left: 64vw;
  top: 45.5%;
}


.elcbuilding {
  position: absolute;
  width: 29%;
  left: 5vw;
  top: 46.4%;
}

.mbuilding {
  position: absolute;
  width: 24.1%;
  left: 10vw;
  top: 51.9%;
}

.qbuilding {
  position: absolute;
  width: 25%;
  left: 55vw;
  top: 52%;
}

.building {
  position: absolute;
  width: 100%;
  left: 0vw;
  top: 54%;
}

.hbuilding {
  position: absolute;
  width: 25%;
  left: 10vw;
  top: 60%;
}

.bus {
  position: absolute;
  width: 21%;
  left: 21vw;
  top: 65%;
}

.sponsors {
  position: absolute;
  width: 27.5%;
  left: 55vw;
  top: 60%;
}

.position {
  position: absolute !important;
  top: 69%;
  left: 17vw;
}

#query {
  position: absolute;
  top: 9%;
  left: 24vw;
  width: 50%;
}

.licss {
  padding: 6px;
  left: 25vw;
  background: rgb(254, 255, 255);
  font-size: 15px;
  line-height: 20px;
}

.licss:hover {
  background: rgb(224, 224, 224);
}

.plusdisplay {
  position: fixed;
  top: -1%;
  left: 83%;
  border-radius: 50%;
  color: black;
  background: transparent;
  width: 2em;
  height: 2em;
  font-size: 1.6em;
  line-height: 10px;
  transform: scale(0.75);
}

.plusclose {
  display: none;
}

.closeboxdisplay {
  position: absolute;
  top: -1%;
  left: 15vw;
  border-radius: 50%;
  color: black;
  background:transparent;
  width: 2em;
  height: 2em;
  font-size: 1.6em;
  line-height: 10px;
  transform: scale(0.75);
}

.closeboxhide {
  display: none;
}

.tasktxtdisplay {
  position: absolute;
  top: 2%;
  left: 25vw;
  width: 50vw;
  border-radius: 35px;

  background: transparent;
  border: none;
  outline: none !important;
  line-height: 25px;
}

.tasktxtclose {
  display: none;
}

.torch {
  position: fixed;
  width: 4%;
  top: 0vw;
  left: 0vw;
}

.ssn {
  position: fixed;
  width: 14%;
  top: 3vh;
  left: 81vw;
}

.sponoff {
  display: none;
}

.pwroff {
  display: none;
}

.tagoff {
  display: none;
}

.sponon1 {
  position: absolute;
  top: 81%;
  left: 32vw;
  width: 41%;
  animation: move 4s;
}

.pwron1 {
  position: absolute;
  top: 81%;
  left: -20vw;
  width: 20%;
  opacity: 1;
  animation: push1 2s;
  animation-delay: 1.55s;
}

.tagon1 {
  position: absolute;
  top: 81.5%;
  left: -48vw;
  width: 42%;
  opacity: 1;
  animation: push1 2s;
  animation-delay: 1.55s;
}

@keyframes push1 {
  0% {}

  1% {
    opacity: 1;
  }

  50% {
    transform: translateX(19vw);
    opacity: 1;
  }

  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}

.sponon2 {
  position: absolute;
  top: 85%;
  left: 32vw;
  width: 41%;
  animation: move 4s;
}

.pwron2 {
  position: absolute;
  top: 85.5%;
  left: -20vw;
  width: 20%;
  opacity: 1;
  animation: push2 2s;
  animation-delay: 1.55s;
}

.tagon2 {
  position: absolute;
  top: 86%;
  left: -40vw;
  width: 42%;
  opacity: 1;
  animation: push2 2s;
  animation-delay: 1.55s;
}

@keyframes push2 {
  0% {}

  1% {
    opacity: 1;
  }

  50% {
    transform: translateX(20vw);
    opacity: 1;
  }

  100% {
    transform: translateX(159vw);
    opacity: 1;
  }
}

.sponon3 {
  position: absolute;
  top: 89%;
  left: 33vw;
  width: 42%;
  animation: move 4s;
}

.pwron3 {
  position: absolute;
  top: 88%;
  left: -20vw;
  width: 20%;
  opacity: 1;
  animation: push3 2s;
  animation-delay: 1.55s;
}

.tagon3 {
  position: absolute;
  top: 88.2%;
  left: -44vw;
  width: 42%;
  opacity: 1;
  animation: push3 2s;
  animation-delay: 1.55s;
}

@keyframes push3 {
  0% {}

  1% {
    opacity: 1;
  }

  50% {
    transform: translateX(18vw);
    opacity: 1;
  }

  100% {
    transform: translateX(159vw);
    opacity: 1;
  }
}

@keyframes move {
  0% {
    left: -50vw;
  }

  100% {
    transform: translateX(0vw);
  }
}

.mario {
  position: absolute;
  width: 17%;
  top: 12%;
  left: 44vw;
}

.owl1 {
  position: absolute;
  width: 22%;
  top: 13%;
  left: 12vw;
}

.owl2 {
  position: absolute;
  width: 22%;
  top: 13.5%;
  left: 20vw;
}

.owl3 {
  position: absolute;
  width: 22%;
  top: 14%;
  left: 28vw;
}

.pac {
  position: absolute;
  width: 15%;
  top: 50.5%;
  left: 21vw;
  animation: eat 4s infinite;
}

@keyframes eat {
  0% {
    transform: translateX(0vw);
  }
40%{
  opacity: 1;
}
  50% {
    transform: translateX(60vw);
    opacity: 0;
    }

  50.1% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.g1 {
  position: absolute;
  width: 15%;
  top: 50.5%;
  left: 44vw;
  animation: run 4s infinite;
}

.g2 {
  position: absolute;
  width: 15%;
  top: 50.5%;
  left: 51vw;
  animation: run 4s infinite;
}

@keyframes run {
  0% {
    transform: translateX(0vw);
  }

  35% {
    transform: translateX(35vw);
  }

  36% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.pika {
  position: absolute;
  width: 20%;
  top: 19.5%;
  left: 21vw;
}

.logooff {
  display: none;
}

.logoon {
  position: fixed;
  width: 40%;
  top: -1vw;
  left: 21vw;
  animation: come_in 2.4s;
}

.nodoff {
  width: 30%;
  left: -28vw;
  top: 0vh;
  animation: fly 4s;
}

.nodon {
  display: none;
}

@keyframes fly {
  0% {}

  60% {
    transform: translateX(84vw);
    opacity: 1;
  }

  100% {
    transform: translate(100vw);
    opacity: 0;
  }
}

@keyframes come_in {
  0% {
    display: none;
    transform: translateX(-90vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.ball {
  position: absolute;
  width: 7%;
  top: 19.9%;
  left: 24vw;
}

#credits {
  position: absolute;
  width: 100%;
  left: 0vw;
  top: 100%;
}

.dan1on{
  position: absolute;
  width: 4.5%;
  top: 36%;
  left: 90vw;
  opacity: 1;
  animation: dance1 4s;
}

/* .dan1on{ */
   
  
  .dan1off{
    display: none;
  }

  @keyframes dance1{
    0%{
      opacity: 0;
      transform: translateX(-10vw);
    }
    50%{

      transform: translateX(-5vw);
    }
    100%{
      opacity: 1;
      transform: translateX(0vw);
    }
  }

  .dan2on{
    position: absolute;
    width: 7%;
    top: 36%;
    left: 79vw;
    animation: dance2 2s;
  }

  .dan2off{
    display: none;
}

@keyframes dance2{
  0%{
    opacity: 0;
    transform:translateX(-11vw);
  }
  50%{
    opacity: 1;
    transform: translateX(-4vw);
  }
  100%{
    transform: translateX(0vw);
  }
}

/* #stareventstxt{
  position: absolute;
  top:10%;
  left:20vw;
  width:10%;
} */
/* #filmtxt{
  position: absolute;
  top:10%;
  left:20vw;
  width:10%;
} */

#destxt {
  position: absolute;
  top: 27.4%;
  left: 8vw;
  width: 10%;
}

#eventtxt {
  position: absolute;
  top: 10.5%;
  left: 18vw;
  width: 10%;
  transform: rotate(-10deg);
}

#spctxt {
  position: absolute;
    top: 23.2%;
    left: 30vw;
    width: 10%;
}

#finartstxt {
  position: absolute;
  top: 31%;
  left: 28vw;
  width: 10%;
}

#n2ktxt {
  position: absolute;
  top: 38.5%;
  left: 69vw;
  width: 10%;
}

#loptxt {
  position: absolute;
  top: 42%;
  left: 17vw;
  width: 10%;
}

#elctxt {
  position: absolute;
  top: 47%;
  left: 18vw;
  width: 10%;
}

#saaraltxt {
  position: absolute;
  top: 48.8%;
  left: 70vw;
  width: 10%;
}

#smctxt {
  position: absolute;
  top: 56.8%;
  left: 15vw;
  width: 10%;
}

#quiztxt {
  position: absolute;
  top: 53.5%;
  left: 62vw;
  width: 18%;
}

#hostxt {
  position: absolute;
  top: 60.5%;
    left: 13.5vw;
  width: 18%;
}

#spontxt {
  position: absolute;
  top: 63.5%;
  left: 71vw;
  width: 18%;
}

#tspontxt {
  position: absolute;
  top: 77.5%;
  left: 35vw;
  width: 40%;
  font-family: Fipps;
  font-size: 3vh;
}

@media(min-width:768px) {

  /* .thala{
      position: absolute;
    width: 34%;
    top: 38.5%;
    left: 4vw;
    } */

    .cus{
      top: 85%;
      width: 70%;
      left: 20vw;
    }
    #contact-container{
      font-size: 2rem;
    }
  #spctxt {
    position: absolute;
    top: 22.6%;
    left: 74vw;
    width: 10%;
  }

  #destxt {
    position: absolute;
    top: 26.7%;
    left: 9vw;
    width: 10%;
  }

  #loptxt {
    position: absolute;
    top: 41.7%;
    left: 24vw;
    width: 10%;
  }

  #n2ktxt {
    position: absolute;
    top: 38.5%;
    left: 74vw;
    width: 10%;
  }

  #smctxt {
    position: absolute;
    top: 57%;
    left: 18vw;
    width: 10%;
  }

  #tspontxt {
    position: absolute;
    top: 77%;
    left: 38vw;
    width: 70%;
    font-family: Fipps;
    font-size: 3vh;
  }



  .logo {
    width: 40%;
    top: -3vw;
    left: 29vw;
  }

  .ssn {
    position: fixed;
    width: 10%;
    top: 0vh;
    left: 88vw;
  }

  .torch {
    position: fixed;
    width: 4%;
    top: 0vw;
    left: 0vw;
  }

  .mario {
    position: absolute;
    width: 17%;
    top: 12%;
    left: 40vw;
  }

  .dan2{
      position: absolute;
      width: 7%;
      top: 35.8%;
      left: 81vw;
    }
  
    .dan1{
      position: absolute;
      width: 4.5%;
      top: 35.7%;
      left: 91vw;
    }

  .sponon1 {
    position: absolute;
    top: 78%;
    left: 40vw;
    width: 25%;
    animation: move 4s;
  }

  .pwron1 {
    position: absolute;
    top: 78.5%;
    left: -20vw;
    width: 12%;
    opacity: 1;
    animation: push1 2s;
    animation-delay: 1.55s;
  }

  .tagon1 {
    position: absolute;
    top: 78.7%;
    left: -41vw;
    width: 34%;
    opacity: 1;
    animation: push1 2s;
    animation-delay: 1.55s;
  }

  @keyframes push1 {
    0% {}

    50% {
      transform: translateX(38vw);
      opacity: 1;
    }

    100% {
      transform: translateX(159vw);
      opacity: 1;
    }
  }

  .sponon2 {
    position: absolute;
    top: 81%;
    left: 40vw;
    width: 24%;
    animation: move 4s;
  }

  .pwron2 {
    position: absolute;
    top: 81.5%;
    left: -20vw;
    width: 18%;
    opacity: 1;
    animation: push2 2s;
    animation-delay: 1.55s;
  }

  .tagon2 {
    position: absolute;
    top: 82%;
    left: -35vw;
    width: 34%;
    opacity: 1;
    animation: push2 2s;
    animation-delay: 1.55s;
  }

  @keyframes push2 {
    0% {}

    50% {
      transform: translateX(35vw);
      opacity: 1;
    }

    100% {
      transform: translateX(159vw);
      opacity: 1;
    }
  }

  .sponon3 {
    position: absolute;
    top: 83.4%;
    left: 40vw;
    width: 25%;
    animation: move 4s;
  }

  .pwron3 {
    position: absolute;
    top: 84.1%;
    left: -20vw;
    width: 18%;
    opacity: 1;
    animation: push3 2s;
    animation-delay: 1.55s;
  }

  .tagon3 {
    position: absolute;
    top: 84.3%;
    left: -42vw;
    width: 42%;
    opacity: 1;
    animation: push3 2s;
    animation-delay: 1.55s;
  }

  @keyframes push3 {
    0% {}

    50% {
      transform: translateX(35vw);
      opacity: 1;
    }

    100% {
      transform: translateX(159vw);
      opacity: 1;
    }
  }

  @keyframes move {
    0% {
      left: -50vw;
    }

    100% {
      transform: translateX(0vw);
    }
  }

  .clock_tower {
    top: 25vh;
  }

  .sebuilding {
    position: absolute;
    width: 40%;
    left: 38vw;
    top: 9%;
  }

  .evebuilding {
    position: absolute;
    width: 35%;
    left: 6vw;
  }

  .flmbuilding {
    position: absolute;
    width: 35%;
  }

  .potobuilding {
    position: absolute;
    width: 33%;
    left: 44vw;
    top: 20.5%;
  }

  .desbuilding {
    position: absolute;
    width: 32%;

  }

  .fabuilding {
    position: absolute;
    width: 35%;
    left: 30vw;
  }

  .dcbuilding {
    position: absolute;
    width: 35%;
    left: 64vw;
  }

  .lopbuilding {

    position: absolute;
    width: 35%;
    left: 15vw;
    top: 38%;
  }

  .elcbuilding {
    position: absolute;
    width: 29%;
    left: 5vw;
  }

  .sabuilding {
    position: absolute;
    width: 27%;
    left: 64vw;
  }

  .mbuilding {
    position: absolute;
    width: 24.1%;
    left: 10vw;
    top: 52%;
  }

  .qbuilding {
    position: absolute;
    width: 25%;
    left: 55vw;
    top: 51.85%;
  }

  .building {
    position: absolute;
    width: 100%;
    left: 0vw;
  }

  .hbuilding {
    position: absolute;
    width: 25%;
    left: 10vw;
  }

  .bus {
    position: absolute;
    width: 20%;
    left: 20vw;
    top: 65%;
  }

  .sponsors {
    position: absolute;
    width: 27.5%;
    left: 55vw;
  }
}
@media(min-width:500px) and (max-width:768px) {
  #stareventstxt {
    position: absolute;
    top: 8.2%;
    left: 55vw;
    width: 36%;
  }

  #tspontxt {
    position: absolute;
    top: 77%;
    left: 35vw;
    width: 70%;
    font-family: Fipps;
    font-size: 3vh;
  }
}

@media(max-width:500px) {
  #stareventstxt {
    position: absolute;
    top: 8.2%;
    left: 52vw;
    width: 36%;
  }

  #tspontxt {
    position: absolute;
    top: 80%;
    left: 29vw;
    width: 60%;
    font-family: Fipps;
    font-size: 1.5vh;
  }


  .fon {
    font-size: 1.3vh;
  }
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;

}

.btn {

  padding: 20px;

  background: white;
}

.card {
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 22px;
  width: 100%;
  height: 80%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card-body {
  background: linear-gradient(135deg, #0FF0B3 0%, #036ED9 100%);

  padding: 85% 0 0 0;
}

.modal-content {
  height: 100%;
  padding: 24px;

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media(min-width:1000px) {
  .plusdisplay {
    top: 0%;
    left: 88%;
  }
}

@media(min-width:695px) and (max-width:768px) {
  .plusdisplay {
    top: -1%;
    left: 74%;
  }
}

@media(max-width:695px) and (min-width:475px) {
  .plusdisplay {
    top: -1%;
    left: 74%;
  }
}

@media(min-width:400px) and (max-width:475px) {
  .plusdisplay {
    top: -1%;
    left: 70%;
  }
}

@media(min-width:300px) and (max-width:400px) {
  .plusdisplay {
    top: -1%;
    left: 60%;
  }
}

@media(min-width:240px) and (max-width:300px) {
  .plusdisplay {
    top: 3%;
    left: 50%;
  }
}

@media(min-width:150px) and (max-width:240px) {
  .plusdisplay {
    top: 3%;
    left: 40%;
  }
}


.contactus{
  position:absolute;
  top:95%
}

@media (max-width: 768px) {
  .contactus {
    position: absolute;
    top: 101%;
  }
}


.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  top:40%;
  left:50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0px, 0%, 0px);
  transform:  translate(-50%,-50%) ;
  -webkit-transform:  translate(-50%,-50%) ;
  -moz-transform:  translate(-50%,-50%) ;
  -ms-transform:  translate(-50%,-50%) ;
  -o-transform:  translate(-50%,-50%) ;
  backface-visibility:hidden;
  -webkit-perspective: 1000;
  -webkit-backface-visibility:hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;

}

.btn {

  padding: 20px;

}

.card {
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 22px;
  width: 100%;
  height: 80%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card-body {
  background: linear-gradient(135deg, #0FF0B3 0%, #036ED9 100%);

  padding: 85% 0 0 0;
}
.modal-content{
  height: 100%;
  padding:24px;

}
.center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.swiper-wrapper.disabled {
transform: translate3d(0px, 0, 0) !important;
-webkit-transform: translate3d(0px, 0, 0) !important;
-moz-transform: translate3d(0px, 0, 0) !important;
-ms-transform: translate3d(0px, 0, 0) !important;
-o-transform: translate3d(0px, 0, 0) !important;
}
.swiper-pagination.disabled {
display: none;
}
.modal-content i{
font-size: 40px;
}
.modal-content .fa{
  font-size: 18px;

}

.swiper-pagination{
display: none;
}

#boxclose{
  font-size: 40px;
  background-color: black;
}
#maincontent h3{
  font-weight: 900;
}
#maincontent  ul li{
  padding-bottom: 15px;
}
#maincontent ul{
  padding-left: 15px;
}
.headingclub{

  position: absolute;
  top: 0;
  left: 50vw;
  transform: translate(-40%,0);

}

.btn:focus{
  outline:none;
}


.zoom {
  background-color: green;
  transition: transform .2s;
  /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ECEFF1;
  color: #37474F;
  font-family: 'proxima', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-weight: 200;
}

.part2{
  position: absolute;
  bottom: -10% ;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

@media(min-width:400px) and (max-width:500px){
  .cus{
    top:90%;
  }
}
@media(min-width:500px) and (max-width:767px){
  .cus{
    top: 85%;
    width: 90%;
    left: 8vw;
  }
  #contact-container{
    font-size: 2rem;
  }
}