*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#panel{
  will-change: transform;
}
body {
    width: 100%;
    height: 100%;
    line-height: 1;
    --color-text: #fbd54a;
  --color-bg: #333;
  --color-link: #4d4f5f;
  --color-link-hover: #bfb5b5;
  --color-info: #fff;
  --color-main-bg: #24262d;
  --path-fill-1: #000000;
  --path-fill-2: #1d1d1f;
  --path-fill-3: #fbd54a;
  --color-title: #fff;
  --font-family-title: 'Arapey', serif;
  --font-size-title: 5vmax;
  --font-weight-title: 400;
  --color-menu: #000000;
  --color-menu-hover: #fff;
  --font-family-menu: 'Arapey', serif;
  --font-size-menu: 2rem;
  --font-weight-menu: 400;
  --button-bg: #fff;
  --button-circle: #ada4a4;
  --button-line: #222;
    /* will-change: transform;
    overflow-x: hidden; */
  }
.bgcheck{
}
.anc{
  width:100%;
  height: 100%;
  margin: 1.66% 1.66%;
  border: 2px solid black;
  background-size: cover;
}
.asc{
   min-height: 30vh; 
   border: 2px solid black;
   background-size: 100% 100%;
}
.bg1{
  background: url("./svg/star_events.svg");
  background-size: 100% 100%;
}
.bg2{
  background: url("./svg/film.svg");
  background-size: 100% 100%;
}
.bg3{
  background: url("./svg/fine_arts.svg");
  background-size: 100% 100%;
}
.bg4{
  background: url("./svg/hospitality.svg");
  background-size: 100% 100%;
}
.bg5{
  background: url("./svg/sponsors.svg");
  background-size: 100% 100%;
}
.bg6{
  background: url("./svg/design.svg");
  background-size: 100% 100%;
}
.bg7{
  background: url("./svg/photography.svg");
  background-size: 100% 100%;
}
.bg8{
  background: url("./svg/dance.svg");
  background-size: 100% 100%;
}
.bg9{
  background: url("./svg/fine_arts.svg");
  background-size: 100% 100%;
}
.svg-hero{
width: 100%;
position: fixed;
  }
  .extend{
      width: 100%;
  }
  .relative{
      position: relative;
  }
  .abs{
      position: absolute;
      top:0;
      left: 0;
  }
  button{
      padding:16px;
      background: white;
      outline: none;
      border:0px solid white;
  }


  .pad{
      padding:1rem;
  }

  .clock_tower
  {
    margin-top:8%;
    width: 25%;
    position: fixed;
    top: 4vh;
    left: 4vw;
  }

  .layerct
  {
    width: 100%;
  }

 .road1{
    width:100%;
   }

   .road2
   {
      width:100%;
   }
   .gate
   {
      position:fixed;
      width:15%;  
      left: 58vw;
      top: 25vw;   
   }
   .fixed
   {
     position: fixed;
   }
   .toplayer
   {
     width: 25%;
   }

   .sebuilding
   {
    position: fixed;
    width: 59%;
    left: 36vw;
   }

   .evebuilding
   {
    position: fixed;
    width: 38%;
    left: 6vw;
   }

   .flmbuilding
   {
     position: fixed;
     width:38%;
   }

   .potobuilding
   {
    position: fixed; 
    width:38%;
     left: 40vw;
   }

   .desbuilding
   {
     position: fixed;
     width:38%;

   }
   
   .fabuilding
   {
     position: fixed;
     width: 38%;
     left:25vw;
   }

   .dcbuilding
   {
      position:fixed;
      width: 38%;
      left: 60vw;
   }

   .lopbuilding
   {
     position:fixed;
     width:38%;
     left:10vw;
   }

   .sabuilding
   {
     position: fixed;
     width: 27%;
     left: 64vw;
   }


   .elcbuilding
   {
     position:fixed;
     width:29%;
     left:5vw;
   }

   .mbuilding{
    position: fixed;
    width: 24.1%;
    left: 10vw;
  }
  .qbuilding
  {
    position: fixed;
    width: 25%;
    left: 55vw;
  }
  .building
  {
    position:fixed;
    width:100%;
  }
  .hbuilding
  {
    position:fixed;
    width:25%;
    left:10vw;
  }
  .bus{
    position: fixed;
    width:30%;
    left:15vw;
  }
  .sponsors
  {
    position: fixed;
    width:27.5%;
    left:55vw;
  }

   @media(min-width:768px)
   {
    .clock_tower{
      top: 8vh;
    }
    .sebuilding
    {
     position: fixed;
     width: 40%;
     left: 38vw;
    }
 
    .evebuilding
    {
     position: fixed;
     width: 35%;
     left: 6vw;
    }
 
    .flmbuilding
    {
      position: fixed;
      width:35%;
    }
 
    .potobuilding
    {
     position: fixed; 
     width:33%;
      left: 44vw;
    }
 
    .desbuilding
    {
      position: fixed;
      width:32%;
 
    }
    
    .fabuilding
    {
      position: fixed;
      width: 35%;
      left:30vw;
    }
 
    .dcbuilding
    {
       position:fixed;
       width: 35%;
       left: 60vw;
    }
 
    .lopbuilding
    {
      position:fixed;
      width:35%;
      left:25vw;
    }
 
    .elcbuilding
    {
      position:fixed;
      width:29%;
      left:5vw;
    }
 
    .sabuilding
    {
      position: fixed;
      width: 27%;
      left: 64vw;
    }
 
    .mbuilding{
      position: fixed;
      width: 24.1%;
      left: 10vw;
    }
    .qbuilding
    {
      position: fixed;
      width: 25%;
      left: 55vw;
    }
    .building
    {
      position:fixed;
      width:100%;
    }
    .hbuilding
    {
      position:fixed;
      width:25%;
      left:10vw;
    }
    .bus{
      position: fixed;
      width:30%;
      left:15vw;
    }
    .sponsors
    {
      position: fixed;
      width:27.5%;
      left:55vw;
    }
   }
  
 

   