*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
  }
  .icon{
    width: 5%;
    height: 5%;
  }
  
  .slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
  }
  
  .slideout-menu-left {
    left: 0;
  }
  
  .slideout-menu-right {
    right: 0;
  }
  
  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
  }
  
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }
  
  .slideout-open .slideout-menu {
    display: block;
  }

  .svg-hero{
width: 100vw;
position: fixed;
  }
  .extend{
      width: 100vw;
  }
  .relative{
      position: relative;
  }
  .abs{
      position: absolute;
      top:0;
      left: 0;
  }
  button{
      padding:16px;
      background: white;
      outline: none;
      border:0px solid white;
  }

  .clipit{

  }
  .pad{
      padding:1rem;
  }

  .clock_tower
  {
    margin-top:8%;
    width: 25%;
    margin-left: 5% ; 
  }
  .layerct
  {
    width: 20%;
  }